
.img-flag{
    width: 40px;
    margin: 2.5px;
}
#darkmode-icon-sol{
    font-size: 25px;
}

#darkmode-toggle{
    margin-right: 5px;
    margin-left: 5px;
}

#darkmode-icon-lua{
    font-size: 25px;
}
.definicao-tema{
    font-size: 20px;
}
.definicao-idioma{
    font-size: 20px;
    text-align: center;
}
.definicao-acao ion-button{
    width: 150px;
}
